{% extends "bootstrap/base.html" %}
{% block title %} View Table {% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='style.css')}}">
{% endblock %}

{% block content %}
<div class="content-wrapper">
	<div class="row">
	    <div class="col-md-12 center-vertical">

	    	<!-- Title -->
	    	<div class="row aero-title">
		    	<h1>Aero</h1>
		    </div>
		    <div class="row">
		    	<strong>An interactive overview of the Airline Industry's Routes, Airports, and Airlines. </strong>
		    </div>
		    <div class="row plane-gylph">
		    	<span class="glyphicon glyphicon-plane" aria-hidden="true"></span>
		    </div>

		    <!-- Navigation -->
		    <div class="row padded-nav-content">
		    	<div class="col-sm-2 col-sm-offset-3">
		    		<a href="/dataview" class="btn btn-default btn-block">View Data</a>
		    	</div>

		    	<div class="col-sm-2">
		    		<a href="/pivotbuilder" class="btn btn-default btn-block">Pivot Table Builder</a>
		    	</div>

		    	<div class="col-sm-2">
		    		<a href="/observations" class="btn btn-default btn-block">Observations</a>
		    	</div>

		    	<div class="col-sm-3"></div>
		    </div>

		</div>
    </div>
  	
  	<!-- Footer -->
  	<div class="anchored-footer text-center">
  		<div class="col-md-4">
	  		<a href="/aboutus">About Us</a>
	  	</div>
	  	<div class="col-md-4">
	  		A Web App By Jin Wei, Chris & Tong
	  	</div>
	  	<div class="col-md-4">
	  		<a href="/aboutdata">About the Data</a>
	  	</div>
  	</div>

</div>
{% endblock %}